<?xml version="1.0" encoding="utf-8"?>

    <application
        android:allowBackup="true"
        <activity
            android:name=".LeaderboardActivity"
            android:exported="false" />
        <activity
            android:exported="false" />
        <activity
            android:exported="false" />
        <activity
            android:exported="false" />
        <activity
            android:exported="false" />
        <activity
            android:exported="false" />
        <activity
            android:exported="false" />
        <activity
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>